.aside-form-title{
    text-align: center;
}
.form-new-task{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row-form{
    display: flex;
    flex-direction: column;
    gap: calc(10/4);
}

.form-new-task_label{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue;
    
}

.form-new-task_input,
select{
    padding: calc(10/2);
}

.form-new-task_buttons{
    display: flex;
    justify-content: space-around;
}